@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Common style */
.secondary-bg{
    background-color:  #FFF8F3;
}
.text-common{
    color:#FD6E0A ;
}
.text-center{
    text-align: center;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.section-title{
    font-size: 35px;  
    font-weight: bold;
    color: #181818 ;
}

.section-description{
    font-size: 18px;
    color:#757575 ;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 20px 37px;
    /* box-sizing: 150px 64px; */
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    /* border-color: none; */
    border: none;
}
/* Main Styls */
main{
    margin: 0 auto;
    width: 1140px;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* Header styels */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav ul{
    display: flex;
    align-items: center;

}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

nav ul li{
    list-style: none;
    /* text-decoration: none; */
    margin-left: 51px;
}

.nav-title{ 
    font-weight: 800;
    font-size: 45px;
}

/* Banner Styels */
.banner{
    /* border: .5vw solid rgb(186, 250, 114); */
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
}
.banner-content{
    max-width:  585px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 700;
} 

.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
}
.banner-profil-pic{
    width: 580px;
}
.banner img{
    width:auto ;
}

/* Abbout styls */

.about{
    
    border-radius:10px;
    padding: 131px 157px;
    text-align: center; 
}
.about-what-bg{
    background-color: rgb(255, 255, 255);
    border: solid 2px #000000;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    /* border: solid 2px #000000; */
}
.about-items .item-title{
    font-size: 20px ;
    color: #757575 ;
}
.about-items .item-info{
    font-size: 20px ;
    color: #474747;
    font-weight: bold;
}
/* skill Section */
.skill{
    width: 1140px;
    /* border: 2px solid salmon; */
}

.skill-container{
    display: flex;
    gap: 24px;
}

.skill-box{
    padding: 30px 33px;
    box-shadow: 0 6vw 25vw 0 rgba(0, 0, 0, 0.103);
    border: solid .001vw rgba(61, 61, 61, 0.082);
    /* box-shadow: 0 6px 50px 0 rgba(00, 00, 00, 6%); */
    border-radius: 5px;
}

/* Resumi */
.resume-container{
    display: flex;
    gap: 71px;
}
.resume-column-titel{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.experience-titel{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.experience-subtitle{
    font-size: 20px;
    font-weight:700;
    color: #757575;
}
.experience-description{
    font-size: 16px;
    color: #757575;
}
/* Footer Style */
footer{
    padding: 130px 15vw ;
    /* padding: 130px 230px; */
    display: flex;
    /* width: 1120px; */
    gap: 50px;
    border: 2px solid rgb(255, 111, 28);
}
.footer-column{
    position: relative;
    /* border: .5vw solid rgb(186, 250, 114); */
    width: 45vw;
}
.footer-column form{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.footer-column form input[type="email"],.footer-column form input[type="text"],.footer-column form textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    padding: 10px 20px;
    border: solid 1px rgba(211, 211, 211, 0.295);
 
}
footer button{
    position: relative;
    bottom: 0;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
}
.heden{
    display: none;
}
/* Media Query */
@media screen and (max-width: 576px) {
    
    main{
        margin: 0 auto;
        width: 100%;
    }
    nav ul{
        gap: 10px;
    }
    .header .banner button{
        margin-bottom: 5px;
    }
    nav{
        margin: 20px;
        width: calc(100% - 40px);
        text-align: center;
        /* border: solid 2px #000000; */
    }
    .skill{
        width: fit-content;
        padding: 4vw ;
        /* width: 285px; */
    }
    .skill-container,
    .banner,
    .resume-container,
     nav,
    nav ul,
    .about-items{
        /* border: 2px solid salmon; */
        /* width: fit-content; */
        flex-direction: column;
    }
    
    .skill-box, .resume-column{
        /* border: .5vw solid rgb(186, 250, 114); */
        width:auto;
        padding: 10px;
        text-align: justify;
    }
    .resume-container{
        position: relative;
        /* border: solid 2px #000000; */
        padding: 5px;
    }
    .resume button{
        position: relative;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        /* bottom: 0;
        left: 50%;
        right: 50%; */
        /* justify-content: center; */
        /* margin-right: 0;
        margin-left: 0; */
        /* display: none; */
    }
    .footer-column{
        /* border: .5vw solid rgb(186, 250, 114); */
        width: 80vw;
    }
    footer{
        flex-direction: column;
        padding: 5vw;
    }
    .about{
        padding: 30px 30px;
    }
    .header{
        width: 99%;
        margin: 0;
        /* border: solid 2px #000000; */
    }
    .banner-content{
        width: fit-content;
        /* border: .5vw solid rgb(186, 250, 114); */
    }
    .banner{
        /* border: .5vw solid rgb(186, 250, 114); */
        width: calc(100% - 40px);
        margin: 20px;
    }
    .header{
        background-image: none;
    }
    
    /* .resume,.resume-container {
        border: .5vw solid rgb(186, 250, 114);
    } */
}